menu {
	padding: 0px 0px 45px;
	margin-bottom: 0px;
}
menu ul {
	margin: 0px;
	padding: 0px;
}
menu ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: space-around;
	flex-wrap: wrap;
}

menu a {
	color: #3a3a3a;
	padding: 18px;
	font-size: 18px;
}
menu a:hover,
.active-link {
	color: #ffffff;
	background-color: #004884;
}
@media (max-width: 768px) {
	menu ul {
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	menu ul li {
		margin: 18px 0px;
	}
}
