menu {
	padding: 0px 0px 45px;
	margin-bottom: 0px;
}
menu ul {
	margin: 0px;
	padding: 0px;
}
menu ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: space-around;
}
menu a {
	color: #3a3a3a;
	padding: 6px 10px 8px;
}

menu a:hover,
.active-link {
	color: #ffffff;
	background-color: #004884;
	font-size: 16px;
}
