@font-face {
	font-family: "Arial-Black";
	src: url("./fonts/Arial-Black.ttf");
}
.App {
	color: #3a3a3a;
}
a:active,
a:focus,
input:active,
input:focus {
	outline: 0;
}
a {
	color: #004884;
	fill: #004884;
	letter-spacing: 2px;
	transition: all 0.36s;
	-webkit-transition: all 0.36s;
	-moz-transition: all 0.36s;
	-ms-transition: all 0.36s;
	-o-transition: all 0.36s;
	font-family: "Arial-Black";
}
a:hover {
	color: #3a3a3a;
	text-decoration: none;
	fill: #3a3a3a;
	transition: all 0.36s;
	-webkit-transition: all 0.36s;
	-moz-transition: all 0.36s;
	-ms-transition: all 0.36s;
	-o-transition: all 0.36s;
}
h1,
h2,
h3,
h4,
h5 {
	font-family: "Arial-Black";
	letter-spacing: 1px;
}
button {
	color: #ffffff;
	font-family: "Arial-Black";
	font-size: 18px;
	letter-spacing: 1px;
	padding: 18px;
	border: none;
	background-color: #004687;
}
button:hover {
	background-color: #3a3a3a;
}
