@font-face {
	font-family: "Lato-Black";
	src: url("./fonts/Lato-Black.ttf");
}
@font-face {
	font-family: "Lato-Regular";
	src: url("./fonts/Lato-Regular.ttf");
}
.App {
	font-family: "Lato-Regular";
	color: #3a3a3a;
}
a {
	color: #004884;
	fill: #004884;
	letter-spacing: 2px;
	transition: all 0.36s;
	-webkit-transition: all 0.36s;
	-moz-transition: all 0.36s;
	-ms-transition: all 0.36s;
	-o-transition: all 0.36s;
}
a:hover {
	color: #3a3a3a;
	text-decoration: none;
	fill: #3a3a3a;
	transition: all 0.36s;
	-webkit-transition: all 0.36s;
	-moz-transition: all 0.36s;
	-ms-transition: all 0.36s;
	-o-transition: all 0.36s;
}
